:root{
    --white: var(#FAF1E4);
    --lightgreen: var(#CEDEBD);
}
body{
    margin: 0;
    background-image: url(hospital1.jpg); 
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;

}
h1{
    color:rgb(188, 96, 39);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: .2em;
    text-align: center;
    text-decoration: double;
    text-wrap: wrap;
}
.menu{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: grid;
    background-color: green;
    position: sticky;
    top: 0px;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;     
       
    /* flex-direction: column; */
}

.menu a{
    float:left;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px 15px;
    text-decoration: none;
}
.menu a:hover {
    background-color: black;
    color:brown;
    border-radius: 10px;
    transition-duration: 0.5s ;
}

.menu a:active{
    background-color: #04AA6D;
    color: white;
}
button{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-radius: 10px;
    color: #04AA6D;
    margin-top: 50px;
    margin-left: 50px;
} 
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
    
}
